<?xml version="1.0"?>
<configuration>
    <location path=".">
        <system.web>
            <pages>
                <namespaces>
                    <clear />
                    <add namespace="System" />
                    <add namespace="System.CodeDom" />
                    <add namespace="System.Collections" />
                </namespaces>
            </pages>
        </system.web>
    </location>
    <location path="SixNamespacesByUsingAddAndRemove">
        <system.web>
            <pages>
                <namespaces>
                    <remove namespace="System" />
                    <remove namespace="System.Collections" />
                    <add namespace="System.ComponentModel" />
                    <add namespace="System.Configuration" />
                    <add namespace="System.Deployment" />
                    <add namespace="System.Diagnostics" />
                    <add namespace="System.Globalization" />
                </namespaces>
            </pages>
        </system.web>
    </location>
    <location path="NoNamespacesByUsingClear">
        <system.web>
            <pages>
                <namespaces>
                    <clear />
                </namespaces>
            </pages>
        </system.web>
    </location>
</configuration>
