<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
    </configSections>
    <StructureMap>
        <Registry Type="HansKindberg.Web.Simulation.Application.FakeRegistry, HansKindberg.Web.Simulation.Application" />
    </StructureMap>
    <location path=".">
        <system.web>
            <authentication mode="Forms">
                <forms defaultUrl="/" loginUrl="~/Views/Account/LogOnView.aspx" timeout="2880" />
            </authentication>
            <compilation debug="true" targetFramework="4.5" />
            <globalization culture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en" />
            <httpRuntime targetFramework="4.5" />
            <membership defaultProvider="MembershipProvider">
                <providers>
                    <clear/>
                    <add name="MembershipProvider" type="HansKindberg.Web.Simulation.Applications.Logic.Fakes.Web.Security.FakedMembershipProvider, HansKindberg.Web.Simulation.Applications.Logic, Version=1.0.0.0, Culture=neutral" applicationName="/" />
                </providers>
            </membership>
            <roleManager defaultProvider="RoleProvider" enabled="true">
                <providers>
                    <clear/>
                    <add name="RoleProvider" type="HansKindberg.Web.Simulation.Applications.Logic.Fakes.Web.Security.FakedRoleProvider, HansKindberg.Web.Simulation.Applications.Logic, Version=1.0.0.0, Culture=neutral" applicationName="/" />
                </providers>
            </roleManager>
        </system.web>
    </location>
</configuration>